services:
  db:
    image: postgres:latest
    container_name: eldercare_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./backend
    image: elder-care-app
    container_name: eldercare_backend
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      REDIS_HOST: redis
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  frontend:
    build:
      context: ./frontend
    container_name: eldercare_frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend

  react-frontend:
    build:
      context: ./react-frontend
    container_name: eldercare_react_frontend
    environment:
      - REACT_APP_API_URL=http://localhost:8000
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3000:3000"
    volumes:
      - ./react-frontend:/react-frontend
      - /react-frontend/node_modules
    depends_on:
      - backend
    stdin_open: true
    tty: true

volumes:
  pgdata:

